pandas
matplotlib
seaborn
Jinja2 # Dependency for df.corr()
scikit-learn
statsmodels
lime
pymannkendall
tsfresh
ipython
ipykernel
dtreeviz # Decision Tree plot
duckdb # sql query on dataframe
prophet # forecasting model 
ruptures # Change point detection
missingno # missing counts
tensorflow # for cpu users